<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="alert alert-danger" role="alert">
    <h2>The details of the requested date is not available</h2>
</div>
<form action="#" th:action="@{/}" method="get">
    <p><input type="submit" class="btn btn-warning" value="Click here to go to Home Page."/>
</form>
</body>
</html>